<!DOCTYPE html>
<html>
<head>
  <title>ADMIN</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="favicon.ico">
  <meta property="og:image" content="ico.png">
  <script src="dist/lib/codemirror.js"></script>
  <script src="dist/mode/javascript/javascript.js"></script>
  <script src="dist/addon/hint/javascript-hint.js"></script>
  <script src="dist/addon/dialog/dialog.js"></script>
  <script src="dist/addon/search/searchcursor.js"></script>
  <script src="dist/addon/search/search.js"></script>
  <script src="dist/addon/hint/show-hint.js"></script>
  <script src="dist/addon/fold/foldcode.js"></script>
  <script src="dist/addon/fold/comment-fold.js"></script>
  <script src="dist/addon/fold/brace-fold.js"></script>
  <script src="dist/addon/fold/foldgutter.js"></script>
  <script src="dist/addon/edit/closetag.js"></script>
  <script src="dist/mode/xml/xml.js"></script>
  <script src="dist/mode/css/css.js"></script>
  <script src="dist/mode/htmlmixed/htmlmixed.js"></script>
  <script src="dist/code-blast.js"></script>
  <script src="dist/jszip.min.js"></script>
  <script src="dist/FileSaver.js"></script>
  <script src="dist/jquery.min.js"></script>
  <link rel="stylesheet" href="dist/lib/codemirror.css">
  <link rel="stylesheet" href="dist/theme/monokai.css">
  <link rel="stylesheet" href="dist/addon/hint/show-hint.css">
  <link rel="stylesheet" href="dist/addon/dialog/dialog.css">
  <link rel="stylesheet" href="dist/addon/fold/foldgutter.css">
</head>
<script src="/socket.io/socket.io.js"></script>
<body>
  <div class="slider">
    <div class="slider__wrapper">
      <div class="slider__item">
        <p>1</p>
        <iframe src="/look/1" id="p1"></iframe>
        <textarea id="t1"></textarea>
        <p>2</p>
        <iframe src="/look/2" id="p2"></iframe>
        <textarea id="t2"></textarea>
      </div>
      <div class="slider__item">
        <p>3</p>
        <iframe src="/look/3" id="p3"></iframe>
        <textarea id="t3"></textarea>
        <p>4</p>
        <iframe src="/look/4" id="p4"></iframe>
        <textarea id="t4"></textarea>
      </div>
      <div class="slider__item">
        <p>5</p>
        <iframe src="/look/5" id="p5"></iframe>
        <textarea id="t5"></textarea>
        <p>6</p>
        <iframe src="/look/6" id="p6"></iframe>
        <textarea id="t6"></textarea>
      </div>
      <div class="slider__item">
        <p>7</p>
        <iframe src="/look/7" id="p7"></iframe>
        <textarea id="t7"></textarea>
        <p>8</p>
        <iframe src="/look/8" id="p8"></iframe>
        <textarea id="t8"></textarea>
      </div>
      <div class="slider__item">
        <p>9</p>
        <iframe src="/look/9" id="p9"></iframe>
        <textarea id="t9"></textarea>
        <p>10</p>
        <iframe src="/look/10" id="p10"></iframe>
        <textarea id="t10"></textarea>
      </div>
    </div>
    <a class="slider__control slider__control_left" href="#" role="button"></a>
    <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
  <img src="temp/1.png" width="100%" id="temp" style="
    z-index: 9999;
    position: fixed;
    right: 5px;
    bottom: 5px;
    width: 143px;
    height: 73px;
    color: white;
    text-align: center;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
  ">
  <button style="
    z-index: 9999;
    position: fixed;
    left: 5px;
    bottom: 5px;
    width: 143px;
    height: 73px;
    display: none;
  " onclick="start()">Старт</button>
  <button style="
    z-index: 9999;
    position: fixed;
    left: 200px;
    bottom: 5px;
    width: 143px;
    height: 73px;
    display: none;
  " onclick="start()">Стоп</button>
  <button style="
    z-index: 9999;
    position: fixed;
    left: 400px;
    bottom: 5px;
    width: 143px;
    height: 73px;
    display: none;
  " onclick="down()">Скачать</button>
</body>
<script>
var a = 0;
temp.onclick = function () {
  if (a == 0) {
    temp.style.width = '643px';
    temp.style.height = '373px';
    a = 1;
  } else {
    temp.style.width = '143px';
    temp.style.height = '73px';
    a = 0;
  }
}
var socket = io();
var we = document.documentElement.clientWidth / 2 - 10;
var he = document.documentElement.clientHeight / 2 - 35;
var he1 = document.documentElement.clientHeight - 15;
var styl = document.createElement('style');
styl.innerHTML = 'iframe, .cm-s-monokai{width: ' + we + 'px; height: ' + he + 'px;display: inline-block;}.slider{height: ' + he1 + 'px;}';
document.body.appendChild(styl);
function add1 (nmb) {
var editor = CodeMirror.fromTextArea(document.getElementById('t' + nmb), {
  mode: 'htmlmixed',
  lineNumbers: true,
  autoCloseTags: true,
  theme: 'monokai',
  foldGutter: true,
  matchBrackets: true,
	lineWrapping: true,
	autofocus: true,
  gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
  extraKeys: {
    "Ctrl-Space": "autocomplete",
    "Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); }},
  blastCode: { effect: 2 }
});
}
add1(1);add1(2);add1(3);add1(4);add1(5);
add1(6);add1(7);add1(8);add1(9);add1(10);
function add (nmb) {
  editor = CodeMirror.fromTextArea(document.getElementById('t' + nmb), {
  mode: 'htmlmixed',
  lineNumbers: true,
  autoCloseTags: true,
  theme: 'monokai',
  foldGutter: true,
  matchBrackets: true,
	lineWrapping: true,
	autofocus: true,
  gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
  extraKeys: {
    "Ctrl-Space": "autocomplete",
    "Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); }},
  blastCode: { effect: 2 }
  });
}
var socket = io();
socket.on('coder', function(code, nmb) {
  document.getElementById('p' + nmb).src = '/look/' + nmb;
  document.getElementById('t' + nmb).value = code;
  add(nmb);
});
var users, maxu;
socket.on('users', function(users) {
 if (users > maxu) {
   maxu = users;
 }
 console.log(maxu);
});


function start () {
  socket.emit('admin', 1);
  console.log(1);
}
function stop () {
  socket.emit('admin', 0);
  console.log(0);
}
function down () {
  var zip = new JSZip();
  $.ajax({ url: '/look/1', success: function(data) { zip.file("1.html", data); } });
  $.ajax({ url: '/look/2', success: function(data) { zip.file("2.html", data); } });
  $.ajax({ url: '/look/3', success: function(data) { zip.file("3.html", data); } });
  $.ajax({ url: '/look/4', success: function(data) { zip.file("4.html", data); } });
  $.ajax({ url: '/look/5', success: function(data) { zip.file("5.html", data); } });
  $.ajax({ url: '/look/6', success: function(data) { zip.file("6.html", data); } });
  $.ajax({ url: '/look/7', success: function(data) { zip.file("7.html", data); } });
  $.ajax({ url: '/look/8', success: function(data) { zip.file("8.html", data); } });
  $.ajax({ url: '/look/9', success: function(data) { zip.file("9.html", data); } });
  $.ajax({ url: '/look/10', success: function(data) { zip.file("10.html", data); } });
  setTimeout(function () {
    zip.generateAsync({type:"blob"})
    .then(function(content) {
        // see FileSaver.js
        saveAs(content, "codes.zip");
    });
  }, 3000);
}

 var multiItemSlider = (function () {
  return function (selector, config) {
    var
      _mainElement = document.querySelector(selector),
      _sliderWrapper = _mainElement.querySelector('.slider__wrapper'),
      _sliderItems = _mainElement.querySelectorAll('.slider__item'),
      _sliderControls = _mainElement.querySelectorAll('.slider__control'),
      _sliderControlLeft = _mainElement.querySelector('.slider__control_left'),
      _sliderControlRight = _mainElement.querySelector('.slider__control_right'),
      _wrapperWidth = parseFloat(getComputedStyle(_sliderWrapper).width),
      _itemWidth = parseFloat(getComputedStyle(_sliderItems[0]).width),
      _positionLeftItem = 0,
      _transform = 0,
      _step = _itemWidth / _wrapperWidth * 100,
      _items = [];

    _sliderItems.forEach(function (item, index) {
      _items.push({ item: item, position: index, transform: 0 });
    });
    var position = {
      getMin: 0,
      getMax: _items.length - 1,
    }
    var _transformItem = function (direction) {
      if (direction === 'right') {
        if ((_positionLeftItem + _wrapperWidth / _itemWidth - 1) >= position.getMax) {
          return;
        }
        if (!_sliderControlLeft.classList.contains('slider__control_show')) {
          _sliderControlLeft.classList.add('slider__control_show');
        }
        if (_sliderControlRight.classList.contains('slider__control_show') && (_positionLeftItem + _wrapperWidth / _itemWidth) >= position.getMax) {
          _sliderControlRight.classList.remove('slider__control_show');
        }
        _positionLeftItem++;
        _transform -= _step;
      }
      if (direction === 'left') {
        if (_positionLeftItem <= position.getMin) {
          return;
        }
        if (!_sliderControlRight.classList.contains('slider__control_show')) {
          _sliderControlRight.classList.add('slider__control_show');
        }
        if (_sliderControlLeft.classList.contains('slider__control_show') && _positionLeftItem - 1 <= position.getMin) {
          _sliderControlLeft.classList.remove('slider__control_show');
        }
        _positionLeftItem--;
        _transform += _step;
      }
      _sliderWrapper.style.transform = 'translateX(' + _transform + '%)';
    }

    var _controlClick = function (e) {
      if (e.target.classList.contains('slider__control')) {
        e.preventDefault();
        var direction = e.target.classList.contains('slider__control_right') ? 'right' : 'left';
        _transformItem(direction);
      }
    };
    var _setUpListeners = function () {

      _sliderControls.forEach(function (item) {
        item.addEventListener('click', _controlClick);
      });
    }

    _setUpListeners();
    return {
      right: function () {
        _transformItem('right');
      },
      left: function () {
        _transformItem('left');
      }
    }
  }
}());

    var slider = multiItemSlider('.slider')
</script>
<style>
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #fff;
  }

  .slider {
    position: relative;
    overflow: hidden;
  }

  .slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
  }

  .slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }

  .slider__control {
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
  }

  .slider__control_show {
    display: flex;
  }

  .slider__control:hover,
  .slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
  }

  .slider__control_left {
    left: 0;
  }

  .slider__control_right {
    right: 0;
  }

  .slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }

  .slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
  p {
    text-align: center;
  }
  iframe {
    background: white;
  }
  .cm-s-monokai {text-align: left;}
</style>
<style>body, html {overflow: hidden;background: #272822;font-size: 15px;font-weight: 500;}</style>
</html>
