<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>
      Code in the Dark
    </title>
    <meta
      name="description"
      content="Code in the Dark, you thought you knew front-end. Code in the Dark is a programming competition concept by Vsevolodhtml."
    >
    <meta name="author" content="Всеволод html">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="favicon.ico">
  </head>

  <body>
    <div id="top-background"></div>
    <img id="logo" src="logo.png" alt="Code In the Dark - Logo">

    <div class="part">
      <h2>Запись</h2>
      <p>
        <a href="https://t.me/codinthedarkbot"
          >На участника</a
        >
      </p>
      <p>
        <a href="https://t.me/codinthedarkbot"
          >На зрителя</a
        >
      </p>
    </div>
    <div class="part">
      <div id="video-container">
          <img src="backdrop.jpg" alt="Code in the Dark">
          <div class="video-player-backdrop"></div>
          <div class="video-player-play"></div>
        </div>
      </div>

    <div class="part">
      <h2>Информация</h2>
      <p>Красивый редактор, посмотреть <a href="/test">тут</a></p>
      <p>Не пропускать встречи можно подписавшись <a href="https://t.me/vsevolodhtmlru">сюда</a></p>
      <p>
        Как создавался проект можно посмотреть
        <a href="https://github.com/htmlcssphpjs/codeinthedark"
          >здесь</a
        >
      </p>
    </div>

    <div class="part">
      <h2>Правила:</h2>
      <ul>
        <li>15 минут</li>
        <li>HTML/CSS</li>
        <li>Без превью</li>
        <li>Один чемпион</li>
      </ul>
    </div>

    <div class="part">
      <h2>Прошедшие соревнования</h2>
      <p>Beta-test &middot; November 2020</p>
    </div>

    <div class="part">
      <p>
        Вопросы?
        <a href="https://t.me/vsevolodhtml">@vsevolodhtml</a>
      </p>
    </div>

    <!--<div class="part">
      <h2>Proudly presented by</h2>
      <div class="sponsors">
      </div>-->
    </div>
  </body>
</html>
