<!DOCTYPE html>
<html>
<head>
  <title>LOOK</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="favicon.ico">
  <meta property="og:image" content="ico.png">
  <script src="dist/lib/codemirror.js"></script>
  <script src="dist/mode/javascript/javascript.js"></script>
  <script src="dist/addon/hint/javascript-hint.js"></script>
  <script src="dist/addon/dialog/dialog.js"></script>
  <script src="dist/addon/search/searchcursor.js"></script>
  <script src="dist/addon/search/search.js"></script>
  <script src="dist/addon/hint/show-hint.js"></script>
  <script src="dist/addon/fold/foldcode.js"></script>
  <script src="dist/addon/fold/comment-fold.js"></script>
  <script src="dist/addon/fold/brace-fold.js"></script>
  <script src="dist/addon/fold/foldgutter.js"></script>
  <script src="dist/addon/edit/closetag.js"></script>
  <script src="dist/mode/xml/xml.js"></script>
  <script src="dist/mode/css/css.js"></script>
  <script src="dist/mode/htmlmixed/htmlmixed.js"></script>
  <script src="dist/code-blast.js"></script>
  <link rel="stylesheet" href="dist/lib/codemirror.css">
  <link rel="stylesheet" href="dist/theme/monokai.css">
  <link rel="stylesheet" href="dist/addon/hint/show-hint.css">
  <link rel="stylesheet" href="dist/addon/dialog/dialog.css">
  <link rel="stylesheet" href="dist/addon/fold/foldgutter.css">
</head>
<script src="/socket.io/socket.io.js"></script>
<body>
  <p>1</p>
  <iframe src="/look/1" id="p1"></iframe>
  <p>2</p>
  <iframe src="/look/2" id="p2"></iframe>
  <script>
var we = document.documentElement.clientWidth / 2 - 10;
var he = document.documentElement.clientHeight / 2 - 15;
var styl = document.createElement('style');
var socket = io();
styl.innerHTML = 'iframe{width: ' + we + 'px; height: ' + he + 'px;}';
document.body.appendChild(styl);
socket.on('code1t', function(code) {
 p1.src = '/look/1';
});
socket.on('code2t', function(code) {
 p2.src = '/look/2';
});
socket.on('code3t', function(code) {
 p3.src = '/look/3';
});
//socket.on('code4', function(code) {
// p4.src = '/look/4';
//});
//socket.on('code5', function(code) {
// p5.src = '/look/5';
//});
//socket.on('code6', function(code) {
// p6.src = '/look/6';
//});
//socket.on('code7', function(code) {
// p7.src = '/look/7';
//});
//socket.on('code8', function(code) {
// p8.src = '/look/8';
//});
//socket.on('code9', function(code) {
// p9.src = '/look/9';
//});
//socket.on('code10', function(code) {
// p10.src = '/look/10';
//});
  </script>
<style>
  body, html {font-size: 15px;font-weight: 500;text-align: center;}
  * {margin: 0;padding: 0;}
</style>
</html>
